/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section styles */
.section {
    padding: 30px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 2rem;
}

/* About Section */
#about p {
    text-align: center;
    font-size: 1.1rem;
    max-width: 12000px;
    margin: 0 auto;
}

/* Projects Section */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project h3 {
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
}

/* Skills Section */
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    list-style:square;
}



/* Coursework Section */
#coursework p {
    text-align: center;
}
#coursework h1 {
    color: #f4f4f4;
    text-align: center;
    
}




/* Contact Section */
#contact p {
    text-align: center;
    font-size: 1.2rem;
}

#contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


/* Carousel Container */
.project-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.project-container {
    display: flex;
    overflow: hidden;
    width: 1200px; /* Adjust based on content */
    justify-content: center;
}

.project-slide {
    min-width: 100%;
    display: none;
    transition: transform 0.5s ease;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.project-slide.active {
    display: block;
}

/* Buttons */
.carousel-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}

.carousel-btn:hover {
    background-color: #007BFF;
}

.carousel-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

